.articlesList {
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 0px -3px rgba(241, 239, 224, 0.1);
  border-radius: 10px;
  margin-top: 4rem;
}

.deleted {
  color: red;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonPost {
  font-size: 1em;
  width: 8em;
  padding: 0.6em 0.5em 0.5em 0.5em;
  border-radius: 0.5em;
  background-color: #fff;
  border: 1px solid #aaa;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.buttonPost:hover {
  border-color: #888;
}

.buttonPost:active {
  background-color: rgb(59, 153, 252);
}

a:hover {
  padding: 0.5em;
  border-radius: 10px;
}

.unorderedList {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
