.button {
  font-size: 1em;
  width: 4em;
  padding: .6em 1.4em .5em .8em;
  border-radius: .5em;
  background-color: #fff;
  border: 1px solid #aaa;
  background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.button:hover {
  border-color: #888;
}

.button:active {
  background-color: rgb(59, 153, 252)
}