.comment {
  border: solid rgb(241, 239, 224);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.pTag {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "votes comment";
  padding: 0.2rem;
}
.commentBody {
  grid-area: comment;
}

.votes {
  grid-area: votes;
  align-self: center;
  justify-self: center;
}
