.buttonPagination {
  font-size: 1em;
  width: 4em;
  padding: 0.6em 0.5em 0.5em 0.5em;
  border-radius: 0.5em;
  background-color: #fff;
  border: 1px solid #aaa;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.buttonPagination:hover {
  border-color: #888;
}

.buttonPagination:active {
  background-color: rgb(59, 153, 252);
}

.flexPagination {
  display: flex;
  justify-content: space-between;
}

.pPagination {
  margin: auto 0;
}
