.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  display: grid;
  align-items: center;
  text-align: center; 
  grid-template-columns: 1fr;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(241, 239, 224)
}


@media (max-width:600px) {
.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  display: grid;
  align-items: center;
  text-align: center; 
  grid-template-columns: 1fr;
}
}
